* {
	box-sizing: border-box;
}

$layout-breakpoint-xxl: 80em;

.video-bg {
	position: absolute;
	/* border: solid green 2rem; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: auto;
	min-height: 100%;
	z-index: -1;
	object-fit: cover;
}

@media(min-width: $layout-breakpoint-xxl){
	.video-bg{
		min-width: 100%;
	}
}
